body {
  margin: 10px 60px;
}
a {
  text-decoration: none;
  color: black;
}
h1, h4, ol {
  margin: 0;
}
p {
  margin: 5px 0;
}
.top-bar {
  background-color: rgb(207, 102, 57);
  padding: 0 40px;
}

.title {
  padding: 10px;
}

.main {
  background-color: #a6a69d;
  padding: 10px 15px;
}
.post {
  background-color: #a6a69d;
  padding: 10px 15px;
}
.row {
  padding: 5px 0;
}
.bottom {
  display: flex;
  color: grey;
  font-size: 12px;
}
.timestamp {
  padding-right: 10px;
}
.nav{
  display:inline-block;
}
.button-login{
  display:inline-block;
  color:white;
  font-size: large;
  padding:2px;
  border: 2px solid black;
  border-radius: 3px;
}